<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs justify-content-center">
	<li [ngbNavItem]="1">
		<button ngbNavLink (click)="onClientsClick()">Clientes</button>
	</li>
	<li [ngbNavItem]="2">
		<button ngbNavLink (click)="onClientsClick()">Rubros</button>
	</li>
	<li [ngbNavItem]="3">
		<button ngbNavLink (click)="onClientsClick()">Productos</button>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ active }}</pre>

<div *ngIf="active == 1">
  <h1>Tabla de Clientes</h1>
  <ul>
    <li>Nombre</li>
    <li>CUIT</li>
    <li>email</li>
    <li>domicilio</li>
    <li>Telefono</li>
  </ul>
	<app-table></app-table>
</div>
<div *ngIf="active == 2">
  <h1>Contenido para Rubros</h1>
  <app-table></app-table>
</div>
<div *ngIf="active == 3">
  <h1>Contenido para Productos</h1>
  <app-table></app-table>
</div>

<table class="table table-warning table-striped">
  <thead>
    <tr>
      <th *ngFor="let key of keysArray" scope="col">{{ key }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clientsArray" >
      <th scope="row">{{ client.nombre }}</th>
      <th scope="row">{{ client.cuit_formateado }}</th>
      <th scope="row">{{ client.email }}</th>
      <th scope="row">{{ client.domicilio }}</th>
      <th scope="row">{{ client.telefono }}</th>
    </tr>
  </tbody>
</table>