<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs justify-content-center">
	<li [ngbNavItem]="1">
		<button ngbNavLink (click)="onClientsClick()">Clientes</button>
	</li>
	<li [ngbNavItem]="2">
		<button ngbNavLink (click)="onClientsClick()">Rubros</button>
	</li>
	<li [ngbNavItem]="3">
		<button ngbNavLink (click)="onClientsClick()">Productos</button>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<div class="container" *ngIf="active == 1">
	<app-table [headersArray]="clientHeaders" [dataArray]="clientsArray" [active]="active" ></app-table>
</div>
<div class="container"  *ngIf="active == 2">
  <app-table [headersArray]="itemHeaders" [dataArray]="itemsArray" [active]="active"></app-table>
</div>
<div class="container" *ngIf="active == 3">
  <app-table [headersArray]="productHeaders" [dataArray]="productsArray" [active]="active"></app-table>
</div>
