<div class="demo-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mx-auto">
        <div class="p-5 bg-dark text-white rounded shadow-lg">
          <img class="align-middle" src="https://www.inter-neg.com/img/logo.png" alt="">
          <h3 class="mb-2 text-center pt-5">Sign In</h3>
          <p class="text-center lead">Sign In to manage all your devices</p>
          <form [formGroup]="formLogin" (ngSubmit)="sendLogin()">
            <label class="font-500">Username</label>
            <input formControlName="username" class="form-control form-control-lg mb-3" type="email">
            <label class="font-500">Password</label>
            <input formControlName="password" class="form-control form-control-lg" type="password">
            <p class="m-0 py-4"><a href="" class="text-muted">Forget password?</a></p>
            <button [disabled]="formLogin.invalid" class="btn btn-warning btn-lg w-100 shadow-lg">SIGN IN</button>
          </form>
        <div class="text-center pt-4">
          <p class="m-0">Do not have an account? <a href="" class="text-dark font-weight-bold">Sign Up</a></p>
        </div>
        <div>
          <hr>Raw: {{ formLogin.value | json }}
        </div>
        </div>
      </div>
    </div>
  </div>
</div>